@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.tableList {
  .uploadBox {
    height: 100px;
    border: 1px solid #ebeef2;
    padding-left: 15px;
    padding-top: 15px;
  }
  .fileName {
    margin-top: 10px;
  }
  .tableListOperator {
    margin-bottom: 16px;
    button {
      margin-right: 8px;
    }
  }
}
.tableListForm {
  margin-top: 20px;
  .phoneArea {
    
  }
  :global {
    .ant-form-item {
      display: flex;
      margin-right: 0;
      margin-bottom: 24px;
      > .ant-form-item-label {
        width: auto;
        padding-right: 8px;
        line-height: 32px;
      }
      .ant-form-item-control {
        line-height: 32px;
      }
    }
    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }
  .submitButtons {
    display: block;
    margin-bottom: 24px;
    white-space: nowrap;
    .uploadLisInline {
      width: 9em;
      display: inline-block;
    }
  }
}

@media screen and (max-width: @screen-lg) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 24px;
  }
}

@media screen and (max-width: @screen-md) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 8px;
  }
}
